@import "~bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media screen and (min-width: 320px) {
  #title {
    font-size: 2.25em;
  }

  .chart-container {
    position: relative;
    width: 70vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 666px) {
  .chart-container {
    position: relative;
    width: 70vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  #title {
    font-size: 3.75em;
  }

  .chart-container {
    position: relative;
    width: 60vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  #title {
    font-size: 4.125em;
  }

  .chart-container {
    position: relative;
    width: 65vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1500px) {
  .chart-container {
    position: relative;
    width: 55vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

* {
  font-family: 'Poppins', sans-serif;
}

#main-container {
  background: #020024;
  background: linear-gradient(0deg, #020024 0%, #090979 32%, #0090ff 100%);
  min-height: 100vh;
}

#title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

#title {
  color: white !important;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
